/*PROJECTS 2 STARTS*/
/* NAV BAR*/
* {
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
    }
  
    body{
      font-family: 'Gilda Display', serif;}
  
    nav{
      background-color: #FFFFFF;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      color: black; }
  
    div{
      list-style-type: none;}
  
    .nav-left a{
      margin-right: auto;
      color:black;
      text-decoration:none;
    }
  
     .nav-right a{
      color:black;
      text-decoration:none;
      display: flex;
    }
  
    .nav-left:hover{
      text-decoration: underline;
      text-decoration-color: red;
      color: red;
    }
  
    .nav-right:hover{
      text-decoration: underline;
      text-decoration-color: red;
      color: red;
    }
  
    .nav-left li{
     font-size: 28px;
     padding: 20px 50px;
    }
  
    .nav-right li{
     font-size: 28px;
     padding: 20px 50px;
    }
  
    .meni li a{
      display: block;
    }
  
    .nav-left{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;
    }
  
    .nav-right{
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      align-items:center;
    }
  
    /* NAV BAR* END/

    /* DIV BOX Color Start */
#BoxCategory_1 {
    background-color: #F3F8F7;
}

#BoxCategory_2 {
    background-color: #F3F8F7;
}

#BoxCategory_3 {
    background-color: #F3F8F7;
}

#BoxCategory_4 {
    background-color: #F3F8F7;
}

#BoxCategory_5 {
    background-color: #F3F8F7;
}

/* DIV BOX Color End */

.center1{
    display: block;
    margin-left: auto;
    margin-right: 27px;
    padding-top: 50px;
    width: 85%;
  }

  .center2{
    display: block;
    margin-left: 20px;
    margin-right: auto;
    padding-top: 130px;
    width: 75%;
  }

  .center3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    width: 100%;
  }

  .content{
    font-family:'Gilda Display', serif;
    font-size: 50px;
    padding-left: 170px;
    margin-top: 3%;
    letter-spacing: 1px;
    text-align: left;
  }

  .center4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 100%;
  }

  .content2{
    font-family:'Gilda Display', serif;
    font-size: 50px;
    padding-left: 150px;
    margin-top: 3%;
    letter-spacing: 1px;
    text-align: left;
  }

  .center5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 100%;
  }

  .content3{
    font-family:'Gilda Display', serif;
    font-size: 50px;
    padding-left: 130px;
    margin-top: 3%;
    letter-spacing: 1px;
    text-align: left;
  }

  .center6{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 100%;
  }

  .content4{
    font-family:'Gilda Display', serif;
    font-size: 50px;
    padding-left: 130px;
    margin-top: 3%;
    letter-spacing: 1px;
    text-align: left;
  }

  /*PROJECTS 2 END*/

